body {
  background-image: url(../img/brain.gif);
}

.navbar {
  background-image: url(../img/brain.gif);
}

.backHome {
  height: 70vh;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 4.6em;
  font-family: "honk";
}

.logos {
  padding-top: 35%;
}

.gameButtons {
  text-decoration: none;
  padding: 30px 55px;
  height: 2.5em;
  border-radius: 1.4em;
  background-color: #f93939;
  border: 0.4em groove white;
  color: #fff;
  font-size: x-large;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: linear-gradient(75deg, #fdc830, #f37335);
  background-size: 300%;
  background-position: left;
  transition: 300ms background-position ease-in-out;
}

.gameButtons:hover {
  background-position: right;
}

.card-body {
  color: white;
}

.card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.card-text {
  color: whitesmoke;
  border: 0.3em groove white;
  border-radius: 1em;
  justify-content: center;
}

.card .card-title {
  color: whitesmoke;
  font-size: xx-large;
}

#contenderName {
  height: 2.5em;
}

.level-nav {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "honk";
}

textarea:focus,
input:focus {
  color: whitesmoke;
}

.gamerButtons {
  padding: 20px;
  border-radius: 3em;
  border: 0.1em groove white;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a:hover {
  background-position: right;
}

.colorPage {
  overflow-x: hidden;
}

.square {
  width: 5em;
  height: 6em;
  border: 0.2em solid white;
}

.colorpicker {
  border: 0.1em solid whitesmoke;
}

#contenderName {
  background-color: aliceblue;
}

#intermediateRows,
#beginnerRows,
#advancedRows {
  display: none;
}

.miniSquare {
  width: 3em;
  height: 2.5em;
  margin-left: 0.3em;
  border: solid;
}

#game {
  border: white;
}
.squareGame {
  width: 3em;
  height: 2.5em;
  background-color: white;
  margin: 0.3em;
}

.backgroundGame {
  height: 90vh;
}

.letters {
  font-size: 4.5em;
}

.circle {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 0.1em solid white;
}

#loser,
#winner {
  display: none;
}
